@media (max-width: 600px) {
	.products {
		flex-direction: column;
		height: auto;
		width: 100%;
	}
	.product {
		margin-bottom: 0;
		width: 80%;
	}
	.hero {
		margin-bottom: 0;
		width: 90%;
	}
	.addverts {
		flex-direction: column;
		align-items: center;
	}
	.add {
		width: 80%;
		margin: 10px 0px;
	}
	.add p {
		text-align: center;
	}
	.mentionsbox {
		flex-wrap: wrap;
	}
	.mention {
		width: 40%;
		margin-top: 20px;
	}
	.mention h2,
	.mention p {
		margin-left: 5px;
		margin-right: 5px;
	}
}

/* Productos */

@media (max-width: 900px) {
	.productos img {
		width: 50%;
		display: inherit;
		margin: auto;
	}
	.productos {
		display: flex;
		flex-direction: column;
	}
	.productos > .col-4 {
		order: 1;
	}

	.productos > .col-8 {
		order: 2;
	}
}
